:root{

--cyan:#00eaff;
--purple:#7b2bff;
--teal:#00ff88;

--fw-heading:'Orbitron',sans-serif;
--fw-ui:'Inter',sans-serif;

}

body{

font-family:var(--fw-ui);
color:white;

}

h1,h2,h3{

font-family:var(--fw-heading);

}

.gradient-title{

background:linear-gradient(90deg,var(--cyan),var(--purple));

-webkit-background-clip:text;

color:transparent;

}
section{

padding:140px 8%;

min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;

}